
body {
    background-color: #f8f9fa;
}

p{
    margin: 0;
    color: #333;
}

.drop-down .dropdown-menu {
    z-index: 1000;
}

.customer-car-container,
.customer-details {
    padding: 20px 50px 20px 50px;
    background-color: white;
    width: 800px;
    box-shadow: 15px 10px 10px -7px rgba(0,0,0,0.12);
    border-radius: 10px;
}

.customer-details {
    width: 500px !important;
}

.modal-body {
    padding: 10px 30px 10px 30px;
}

.invoice-details-right-2,
.quotation-details-right-2 {
    margin-left: 30px;
}

.quotation-details-left,
.invoice-details-left {
    width: 350px;
}

textarea {
    height: 200px !important;
}

.recent-invoice-table,
.unpaid-invoice-table {
    width: 95% !important;
}
/*********************************************** */
/*********************************************** */
/*********************************************** */
/************************ LOGIN PAGE *********************** */
.login-body {
    background-color: rgb(37, 36, 36);
}

.login-section {
    position: relative;
    height: 80vh;
}

.login-image img {
    width: 22rem;
    height: 30rem;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(254, 120, 0, 0.8);
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    color: white;
}

.login-form span {
    color: rgba(254, 120, 0, 0.8);
}

.login-form {
    width: 100%;
    height: 100%;
    position: relative;
}

    .login-form h1 {
        position: absolute;
        bottom: 150px;
        left: 15%;
    }

.login-input input {
    width: 300px;
    height: 40px
}

.user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

    .user-form button {
        background-color: rgba(254, 120, 0, 0.8);
        width: 90px;
    }



/*********************************************** */
/*********************************************** */



/************************ DROPDOWN HOVER *********************** */
/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Ensure the dropdown doesn't disappear when hovered */
.nav-item.dropdown .dropdown-menu {
    display: none;
}

/*********************************************** */
/*********************************************** */



/*********************************************** */
/************************ DASHBOARD *********************** */
.dashboard-card {
    background-color: white;
    width: 270px;
    height: 80px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 15px 10px 10px -7px rgba(0,0,0,0.12);
    transition: all 0.3s;
}

    .dashboard-card:hover {
        transform: translateY(-5px);
        box-shadow: 15px 10px 10px -7px rgba(0,0,0,0.12);
    }

.customer-count-left i,
.car-count-left i,
.invoice-count-left i,
.quotation-count-left i {
    font-size: 35px;
    margin-left: 10px
}


.customer-count-left i,
.quotation-count-left i,
.car-count-left i,
.invoice-count-left i {
    color: rgba(0, 101, 238, 0.75);
}



.customer-count-right,
.car-count-right,
.invoice-count-right,
.uotation-count-right {
    width: 100px
}

.financial-overviews {
    border-bottom: 2px solid black;
    padding: 10px box-shadow: 25px 10px 43px -7px rgba(0,0,0,0.12);
}

/*********************************************** */
/*********************************************** */
#financialOverviewChart {
    width: 380px !important;
    height: 350px !important;
    padding-top: 0 !important;
}

#monthlyFinancialOverviewChart {
    height: 400px !important;
}




/*********************************************** */
/************************ PAID NOT PAID  *********************** */

.payment-status-not-paid {
    background-color: rgba(255, 99, 132, 1);
    border-radius: 40px;
    padding: 3px;
    color: white;
}

.payment-status-paid {
    background-color: rgba(75, 192, 192, 0.8);
    border-radius: 40px;
    padding: 3px;
    color: white;
}



/*********************************************** */
/*********************************************** */



/*********************************************** */
/************************ TABLES  *********************** */


.card {
    border: none;
    border-radius: 0.5rem;
}

.table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.text-primary {
    color: #007bff !important;
}

/* Table Styling */
.table {
    background-color: #ffffff; /* White background for the table */
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
    border-radius: 10px; /* Rounded corners */
}

.table thead {
    background-color: rgba(35, 35, 35, 0.8);
    color: white;
}


.table th {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.table-striped tbody tr:hover {
    background-color: #e9ecef; /* Light hover effect for rows */
}

/*.table td, .table th {
    padding: 1rem;*/ /* More padding for better visual spacing */
/*}*/


/*********************************************** */
/*********************************************** */

