body {
}


/*********************************************** */
/************************ DROPDOWN HOVER *********************** */

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Ensure the dropdown doesn't disappear when hovered */
.nav-item.dropdown .dropdown-menu {
    display: none;
}

/*********************************************** */
/*********************************************** */



/*********************************************** */
/************************ DASHBOARD *********************** */
.customer-count-box,
.car-count-box,
.invoice-count-box,
.quotation-count-box {
    border: 1px solid rgba(164, 156, 156, 0.8);
    width: 270px;
    height: 80px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 7px;
}

.customer-count-left i,
.car-count-left i,
.invoice-count-left i,
.quotation-count-left i {
    font-size: 35px;
    margin-left: 10px
}


.customer-count-left i,
.quotation-count-left i,
.car-count-left i,
.invoice-count-left i {
    color: rgba(0, 101, 238, 0.75);
}



.customer-count-right,
.car-count-right,
.invoice-count-right,
.uotation-count-right {
    width: 100px
}


/*********************************************** */
/*********************************************** */

#financialOverviewChart {
    width: 380px !important;
    height: 350px !important;
    padding-top: 0 !important;
}

#monthlyFinancialOverviewChart {
    height: 400px !important;
}