@model MobileMekaniko_Final.Models.Dto.AddCustomerDto

<!-- Modal -->
<div class="modal fade" id="addCustomerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="mb-2">
                    <label asp-for="CustomerName"></label>
                    <input id="customerName" asp-for="CustomerName" class="form-control" />
                    <span id="customerNameError" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="CustomerAddress"></label>
                    <input id="customerAddress" asp-for="CustomerAddress" class="form-control" />
                </div>
                <div class="mb-2">
                    <label asp-for="CustomerEmail"></label>
                    <input id="customerEmail" asp-for="CustomerEmail" class="form-control" />
                    <span id="customerEmailError" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="CustomerNumber"></label>
                    <input id="customerNumber" asp-for="CustomerNumber" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="Add" class="btn btn-primary" onclick="AddCustomer()">Add</button>
            </div>
        </div>
    </div>
</div>